.blog-header-logo {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 2.25rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  }
  .flex-auto {
    flex: 1 1 auto;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-post {
    margin-bottom: 4rem;
  }

  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  .nav-item.nav-link.active {
    padding: 0.5rem 4rem;
  }
  
  .custom-bg {
    background-color: #fcf0f5;
  }
  
  .post-bg {
    background-color: #f3f3f3;
  }
  
  .post-margin {
    margin-right: -50px; /* 오른쪽 여백을 더 넓게 */
  }
  
  .wen-margin {
    margin-right: 80px; /* 오른쪽 여백을 더 넓게 */
  }
  
  input[type="text"], input[type="submit"] {
    position: relative;
    z-index: 10;
  }